*{
        font-family: sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline: none;
        border: none;
        text-decoration: none;
        text-transform: capitalize;
}
.header{
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: rgb(24, 24, 151);
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    z-index: 1000;
}
.header .navbar a{
        font-size: 1rem;
        color: #555;
        margin-left: 2rem;
}
.header .navbar a:hover{
    color: azure;
}
.header .navbar .goat{
    margin-right: 8px;
}
.header .navbar .sheep{
    color: white;
}
.content .font{
  font-family: cursive;
}
section{
    padding: 2rem 9%;
}
.home{
    display: flex;
    align-items:center ;
    gap: 1.5rem;
    padding-top: 10rem;
    background:rgb(24, 24, 151) ;
    position: relative;
}
.home .content{
    flex: 1 1 45rem;
}
 .home .image{
    flex:2 2 45rem;
 }
 .home .image img{
    width: 50%;
    margin-left: 120px;
 }
 .home .content h1{
    font-size: 2.5rem;
    color: white;
    line-height: 1.8;
 }
 .home .content p{
    font-size: 1.1rem;
    color: white;
    line-height: 1.8;
    padding: 1rem 0;
 }
 .btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 1rem;
    font-size: 1.1rem;
    cursor: pointer;
    color: #fff;
    background: rgb(92, 165, 92);
    border-radius: 1.9rem;
    box-shadow: black;
    position: relative;
 }
 .heading{
    text-align: center;
    padding-bottom: 2rem;
    font-size: 2rem;
    color: black;
 }
 .heading span{
    color: rgb(240, 79, 106);
    border-radius: 5rem;
    background: white;
    padding: 0 1.5rem;
 }
 .services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
    gap: .9rem;
 }
 .services .box-container .box{
    margin-top: 28px;
    text-align: center;
    border: solid rgba(241, 233, 233, 0.582);
    box-shadow: solid rgb(241, 238, 238);
    padding: 2rem 2rem;
    border-radius: 2rem;
 }
 .services .box-container .box img{
    height: 3rem;
 }
 .services .box-container.box h3{
    color: black;
    font-size: 1.5rem;
    padding: 1.5rem;
 }
 .services .box-container .box p{
    color: black;
    font-size:.9rem;
    padding: 1rem 0;
    line-height: 1.8;
 }
 .box{
    border: solid brown;
    border-color: black;
 }